/* import the necessary styles for Vue Flow to work */
@import '@vue-flow/core/dist/style.css';

/* import the default theme, this is optional but generally recommended */
@import '@vue-flow/core/dist/theme-default.css';

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.start-handle {
  width: 10px;
  height: 10px;
  background-color: rgb(183, 42, 139);
  z-index: 99;
}

.end-handle {
  width: 10px;
  height: 10px;
  background-color: rgb(211, 118, 47);
  z-index: 99;
}
